body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: lightpink;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

thead {
  background-color: #007bff;
  color: white;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between; /* Distribute form elements evenly */
}
form label {
  color: #333;
  margin-bottom: 5px; /* Add some bottom margin to labels */
  flex: 1 1 100%; /* Take full width of the container */
}

label {
  flex: 1 1 120px; /* Flex basis for labels */
  color: #333;
}

input, button {
  flex: 1 1 calc(50% - 10px); /* Flex basis for inputs and button */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"], input[type="number"] {
  width: 100%; /* Full width for text and number inputs */
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
